<section class="footerbox mt-5 ">
<div class="row footerBoxOne ">
  <div class="col-lg-4 col-md-8 col-sm-12 footerRowBox1 ">
    <div class="justify-content-center">
      <img  src="/app.png" width="120px" alt="not image class="text-center"">
    </div>
    <p class="mt-3">restaurant.com (Innovative Retail Concepts Private Limited) is India’s largest online fruits and 
        grocery store. With over 18,000 products and over a 1000 brands in our catalogue you will find everything you 
        are looking for. Right from fresh Fruits and Vegetables. Choose from a wide range of options in every category, 
        exclusively handpicked to help you find the best quality available at the lowest prices.
    </p>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 mb-2 footerRowBox2 mb-4 ">           
      <h5>Company</h5>
      <li><a href="aboutUs.html">About Restaurant App</a></li>
      <li><p>Life At Company</p></li>
      <li><p>How We Work</p></li>
      <li><p>What Our Clients Say</p></li>           
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  footerRowBox3  mb-4">           
      <h5>Support</h5>
      <li><p>Privacy Policy</p></li>
      <li><p>Terms & Conditions</p></li>
      <li><a href="">Contact Us</a></li>           
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  footerRowBox4 mb-4">          
      <h5>Quick Links</h5>
      <li><p>Blog</p></li>
      <li><p>Hire Us</p></li>
      <li><p >Career</p></li>
      <li><a href="">About us</a></li>
      <li><p  >React js </p></li>           
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6  footerRowBox5 mb-4">           
      <h5>Follow Us</h5>
      <div class="soialMediaIcon mt-2 mb-2">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-skype"></a>
      </div>           
  </div>
  <hr>
</div>
<div class="row footerBoxTwo">
  <div class="col-lg-5 col-md-6 col-sm-6  footerRowBox6 ">
    <h5>Registered Office Address:</h5>
    <div class="soialMediaIcon mt-2 mb-2">
      <p>Restaurant Internet Private Limited</p>
      <p>Building Alyssa Begonia &</p>
      <p>Outer Ring, Devarabeesanahalli Village,</p>
      <p>Bengaluru, 560103, </p>
      <p>Karnataka, India </p>
      <p>CIN : U5ADN5SD54DJ2K5D</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6  footerRowBox7">
    <h5>Make Money With Us</h5>
    <div class="makeMoney mt-2 mb-2">
      <p>Sell on Restaurant App</p>
      <p>Sell under Restaurant App Accelerator</p>
      <p>Restaurant App Global Selling</p>
      <p>Become an Affiliate</p>
      <p>Fulfilment by Restaurant App</p>
      <p>Advertise Your Products</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12  footerRowBox8 text-center mt-5">
    <img src="app.png" width="150px" alt="">
    <h5>Restaurant App</h5>
  </div>
  <span class="text-center mt-2">Copyright 2021 - 2022 <a href="index.html">Restaurant App Pvt. Ltd. </a> All Rights
            Reserved. </span>
</div>
</section>